/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./plugins.css";
/* purgecss end ignore */
@import "tailwindcss/utilities";
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.VueCarousel-navigation-button {
  color: #fff !important;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

::selection {
  @apply text-white bg-brand-purple; /* WebKit/Blink Browsers */
}
::-moz-selection {
  @apply text-white bg-brand-purple; /* Gecko Browsers */
}

h1 {
  font-size: 38px;
  line-height: 45px;

  @media (min-width: 640px) {
    font-size: 54px;
    line-height: 68px;
  }
}

h1,
h2 {
  font-family: "Lora", serif;
  font-weight: 700;
}

h3 {
  font-family: "Lora", serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: rgba(0, 0, 0, 0.85);
}

h2 {
  font-size: 32px;
  line-height: 43px;

  @media (min-width: 640px) {
    font-size: 40px;
    line-height: 61px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

p {
  font-size: 16px;
  line-height: 27px;
}

p.subtitle {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 640px) {
    font-size: 24px;
    line-height: 36px;
  }
}

p,
small,
li {
  @apply text-black;
}

.top-right-overflow {
  top: 0;
  right: 0;
  transform: translateY(-35%) translateX(35%);
}

.top-left-overflow {
  top: 0;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}

.VueCarousel-navigation-button {
  background: #fff !important;
  border: 1px solid #e0deee;
  box-shadow: 0 8px 20px 0 rgba(51, 45, 97, 0.17);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.VueCarousel-navigation-button:focus {
  outline: none !important;
  @apply shadow-outline;
}

.VueCarousel-navigation-prev {
  display: none;
}

.VueCarousel-navigation-next {
  @apply border;
  right: 46px !important;
  top: 45% !important;
  border-radius: 100%;
}

.form-row {
  @apply w-full;
}

.form-row label {
  @apply block mb-3 text-base font-semibold leading-none tracking-tight text-black;
}

.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="password"]:focus {
  @apply shadow-outline outline-none;
}

.form-row label.required:after {
  content: "*";
}

.form-row input,
.form-row select,
.form-row textarea {
  @apply w-full h-12 p-3 text-base leading-none tracking-tight text-black border border-indigo-200 rounded;
}